*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
body{
    background: #0f0f0f;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

body::after{
    content: "";
    width: 100%;
    background-color: #0008ff;
    position: absolute;
    height: 100%;
    z-index: -1;
    clip-path: circle(30% at right 70%);
}

.container{
    width: 90%;
    height: 90%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
#logo{
    color: #0008ff;
    font-size: 35px;
    text-decoration: none;
    font-family: fantasy;
}

nav ul li{
    display: inline-block;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    transition: 1s ease-in-out;
    font-size: 18px;
}

nav ul li a:hover{
    color: #0008ff;
    font-size: 19px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: auto;
}
.content h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0008ff;
}
.content li{
    color: white;
    font-size: 20px;
    list-style-type: none;
}
.content li a{
    transition: 1s;
}
.content li a:visited{
    color: #0008ff;
}
.content li a:hover{
    color: white;
    font-size: 23px;
}
.content h4{
    color: #0008ff;
    font-size: 30px;
}
.content .num i{
    color: #0008ff;
    transition: 1s;
}
.content .num i:hover{
    font-size: 22px;
    cursor: pointer;
    color: white;
}

@media (min-width: 650px) and (max-width: 1100px){
    .content{
        width: 90%;
    }
    .content .music{
        padding-left: 10px;
    }
    .content .socials{
        padding-left: 10px;
    }
    .content .num{
        padding-left: 10px;
    }
}

@media (max-width: 650px){
    .content, nav{
        flex-direction: column;
        justify-content: center;
    }
    .content{
        float: left;
        width: 50%;
    }
    .content h2{
        font-size: 30px;
        padding-top: 10px;
    }
    .content li{
        font-size: 20px;
    }
    .content .music{
        position: relative;
        right: 20px;
    }
    .content .num{
        padding-top: 10px;
        position: relative;
        left: 10px;
    }
}